@import url(default.css);

body{font-family:'playfair display', 'Noto Sans KR','맑은고딕','Malgun Gothic', 'Apple SD Gothic Neo', '돋움','Dotum', sans-serif;font-size:16px;line-height:1.47;color:#444243;font-weight:400;word-break:keep-all;letter-spacing:-0.05em;width:100%;overflow-x:hidden;}
section{position:relative;width:100%;height:100vh;background:#f4f7f9;}
a{color:#444243;}

#main-page{
    .main-page__bg{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:50vh;
        background-color:#aa4c4a;
        z-index:1;
    }
    .navigation{
        .navigation__btn{
            position:fixed;
            display:inline-block;
            margin:50px;
            right:0;
            width:30px;
            height:18px;
            cursor:pointer;
            z-index:100;
            .btn-one, .btn-two, .btn-three{
                position:absolute;
                width:30px;
                height:2px;
                background:#444243;
            }
            .btn-two{
                margin-top:8px;
            }
            .btn-three{
                margin-top:16px;
            }
        }
        .navigation__menu{
            position:fixed;
            top:0;right:0;
            width:0;
            height:100vh;
            background:rgba(217,216,217,.9);
            z-index:20;
            color:#d9d9d9;
            text-align:right;
            ul{
                margin:5rem;
                font-size:20px;
                li{
                    &:nth-of-type(1){
                        font-size:40px;
                    }
                    a{     
                        display:inline-block;
                        padding:10px 0;
                    }
                }
            }
        } 
    }
    .main-page__img{
        position:relative;
        top:50%;
        left:50%;
        width:100%;
        height:80%;
        transform:translate(-50%,-50%);
        z-index:10;
        color:rgba(255,255,255,.9);
        img{
            width:100%;
            height:100%;
            object-fit:cover;
        }
        small{
            position:absolute;
            right:7%;
            top:10%;
            font-size:2rem;
        }
        h1{
            position:absolute;
            left:7%;
            bottom:13%;
            font-size:6rem;
            line-height:1.2;
            span{
                font-size:2rem;
                font-weight:300;
                display:block;
                font-style:italic;
            }
        }
    }
}

#skill{
    position:relative;
    .skill_bg{
        position:absolute;
        width:0;
        height:100%;
        background-color:#eccccd;
    }
    h2{float:left;font-size:100px;}
    .skills{
        float:right;
        padding-right:50px;
        font-size:60px;
    }
}
section{
    .container{
        position:relative;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width:85%;
    }
    .picture{
        width:50%;
        float:left;
        text-align:center;
        a{
            opacity:0;
            transform:translateY(50px);
            transition:all .8s ease-in-out;
            display:inline-block;
            &.visible{
                opacity:1;
                transform:translateY(0);
            }
            img{
                width:80%;
            }
        }
    }
    .description{
        position:absolute;
        top: 50%;
        right:0;
        width:50%;
        transform: translateY(-50%);
        .num{
            font-size:80px;
            line-height:1;
        }
        h2{
            display:inline-block;
            margin-left:5px;
            font-size:40px;
            margin-bottom:15px;
        }
        .tag{
            display:inline-block;
            padding:5px 10px;
            font-size:13px;
            background-color:#aa4c4a;
            color:#fff;
            border-radius:10px;
        }
        p{
            margin:10px 0;
        }
        a{
            position:relative;
            display: inline-block;
            padding:15px 30px;
            border:1px solid #444243;
            font-weight:600;
            font-size:13px;
            &:before{
                position:absolute;
                width:0;
                height:100%;
                top:50%;
                left:50%;
                transform:translate(-50%,-50%);
                z-index:-1;
                transition:all .6s ease;
                background-color:#444243;
                content:'';
            }
            &:hover{
                color:#d9d9d9;
            }
            &:hover:before{
                width:100%;
            }
        }
    }
}

section:nth-child(2n+1){
    .picture{
        float:right;
    }
    .description{
        left:0;
    }
}

#two{
    background:#fff4f6;
    .tag{
        background:#8977ad;
    }
}
#three{
    background:#edf6f5;
    .tag{
        background:#79bcb4;
    }
}
#four{
    .picture{
        width:50%;
        float:none;
        margin:0 auto;
    }
    .description{
        position:relative;
        top:0;
        left:0;
        width:80%;
        margin:0 auto;
        transform:none;
        text-align:center;
    }
}

#five{
    background:#e5f3f3;
    .tag{
        background:#8977ad;
    }
}

#six{
    background:#f9f2f5;
    .tag{
        background:#edacb1;
    }
}